/build
/cparser
/t
/stuff
/test
/config.mak
/revision.h
/cparser.bootstrap
/cparser.bootstrap2
/cparser.bootstrape
/config.h
/gen_builtins.h
*.vcg
a.out
svn-commit.tmp
*/Debug
*/Release
*/VTune
*.vcproj.*.*.user
*.suo
*.ncb
